extends ../common/layout

block content
    .promo
        .promo__slider
            .promo__slider-item
                .promo__background
                .promo__content
                    .promo__headers
                        .promo__header-container
                            h2.promo__header Фотообои
                            .promo__header-bg
                        .promo__wrapper
                            .promo__type-container
                                h3.promo__type Для зала
                                .promo__type-bg
                            .promo__area-container
                                .promo__area
                                    | от
                                    span 50
                                    | $/м
                                    sup 2
                                .promo__area-bg
                    .promo__text
                        | Более 6000 идей фотообоев
                        br
                        | для зала
                    .promo__btn Смотреть идеи
                img.promo__slider-img--desktop(src='../../img/living-room1.png' alt='')
            .promo__slider-item
                .promo__background
                .promo__content
                    .promo__headers
                        .promo__header-container
                            h2.promo__header Фотообои
                            .promo__header-bg
                        .promo__wrapper
                            .promo__type-container
                                h3.promo__type Для кухни
                                .promo__type-bg
                            .promo__area-container
                                .promo__area
                                    | от
                                    span 50
                                    | $/м
                                    sup 2
                                .promo__area-bg
                    .promo__text
                        | Более 6000 идей фотообоев
                        br
                        | для кухни
                    .promo__btn Смотреть идеи
                img.promo__slider-img--desktop(src='../../img/kitchen1.png' alt='')
            .promo__slider-item
                .promo__background
                .promo__content
                    .promo__headers
                        .promo__header-container
                            h2.promo__header Фотообои
                            .promo__header-bg
                        .promo__wrapper
                            .promo__type-container
                                h3.promo__type Для спальни
                                .promo__type-bg
                            .promo__area-container
                                .promo__area
                                    | от
                                    span 50
                                    | $/м
                                    sup 2
                                .promo__area-bg
                    .promo__text
                        | Более 6000 идей фотообоев
                        br
                        | для спальни
                    .promo__btn Смотреть идеи
                img.promo__slider-img--desktop(src='../../img/bedroom1.png' alt='')
            .promo__slider-item
                .promo__background
                .promo__content
                    .promo__headers
                        .promo__header-container
                            h2.promo__header Фотообои
                            .promo__header-bg
                        .promo__wrapper
                            .promo__type-container
                                h3.promo__type Для зала
                                .promo__type-bg
                            .promo__area-container
                                .promo__area
                                    | от
                                    span 50
                                    | $/м
                                    sup 2
                                .promo__area-bg
                    .promo__text
                        | Более 6000 идей фотообоев
                        br
                        | для зала
                    .promo__btn Смотреть идеи
                img.promo__slider-img--desktop(src='../../img/bedroom1.png' alt='')


    .advantages
        .advantages__container
            .advantages__item
                img.advantages__img(src='../../img/advantages1.png')
                .advantages__header Печатаем что угодно
                .advantages__descr Все фотообои мы изготавливаем под заказ на собственном оборудовании. По этому можем напечатать совершенно все, что вы захотите
            .advantages__item
                img.advantages__img(src='../../img/advantages2.png')
                .advantages__header Любые размеры
                .advantages__descr Профессиональное оборудование позволяет напечатать фотообои совершенно любого размера. Можем заклеить как часть, таки все стену без ограничений.
            .advantages__item
                img.advantages__img(src='../../img/advantages3.png')
                .advantages__header Изготовление за 1 день
                .advantages__descr В среднем, изготовление одних фотообоев среднего размера занимает не более 1 дня
            .advantages__item
                img.advantages__img(src='../../img/advantages4.png')
                .advantages__header Без посредников
                .advantages__descr Мы имеем в наличие все необходимое оборудование для самостоятельного изготовления фотообоев. А значит вы не переплачиваете посредникам